# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ca76ced36ef9664e67eae9c58411a7994c9264bcae7258c276d1e97a61e176f2120f3bbb438fed7a2f03e9f74869f965f09e3fafbcfacc24d0222b79fc7e4f6d

test:
  secret_key_base: 7cd5781de79939cc3d2dc8ef29500a0dafa7d64850157943dc9af16fc1060dc1aeee797a2501eb7cc0b0bf1776bf4262a8037da4ca7e2e088f98347f6bf297a4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
