/*
 Table Of Contents
 1.) Homepage
 2.) Blogpage
 3.) Blog Detail Page
 4.) Error Page
 5.) intro Page
 6.) Countdown Page
 ===============================================*/
/*
 1.) Homepage
 ----------------------------------------*/
body#intro-page #theme_panel{
	display: none !important;
}
.main-banner {
	position: relative;
	background: #000;
	overflow: hidden;
}
/*header variations (patterned backgrounds)*/
.main-banner.header-pattern {
	text-align: center;
	background-color: #000;
	background-repeat: repeat;
	background-position: 0 0;
}
.main-banner.pattern-1 {
	background-image: url(../img/pattern-bg-1.jpg) ;
}
.main-banner.pattern-2 {
	background-image: url(../img/pattern-bg-2.jpg);
}
.main-banner.pattern-3 {
	background-image: url(../img/pattern-bg-3.jpg);
}
.main-banner.pattern-4 {
	background-image: url(../img/pattern-bg-4.jpg);
}
.main-banner.pattern-5 {
	background-image: url(../img/pattern-bg-5.jpg);
}
.main-banner.pattern-6 {
	background-image: url(../img/pattern-bg-6.jpg);
}
.main-banner.pattern-7 {
	background-image: url(../img/pattern-bg-7.png);
}

#awesome_video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#bgImg{ 
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#bgVideo{ 
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#bodyDummy{ 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: auto;
    width: 100%;
    height: 100%;
}
/*header variations ends*/

#banner-slider {
	padding: 0;
	box-shadow: none;
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	background: none;
}
#banner-slider .flex-direction-nav {
	display: none;
}
.main-banner .tparrows, .main-banner .tp-bannertimer {
	display: none;
}
.main-banner > .rect-icon-box {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	left: 10px;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.main-banner > .rect-icon-box.next-slide {
	left: auto;
	right: 10px;
}
.main-banner > .rect-icon-box.animate {
	opacity: 1;
}
.slide-heading {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	line-height: 1 !important;
	padding: 0 54px;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-italic {
	font-size: 19px;
	font-style: italic;
	color: #fff;
	line-height: 1.4/*!important*/;
}

.banner-text {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	display: table;
	z-index: 100;
	width: 100%;
	text-align: center;
}
.banner-text h1, .banner-text h2 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}
.banner-text h1 span {
	color: #ed2930;
}
.banner-text .side-border:after, .banner-text .side-border:before {
	width: 40px;
	background: #fff;
}
.banner-text p {
	color: #fff;
	font-size: 13px;
	margin-bottom: 20px;
	padding: 0 54px;
}
.banner-text p span {
	color: #ed2930;
}
.banner-text .social-icons {
	margin-bottom: 20px;
}

/*slider other style*/
#banner-slider.other-slider-second {
	height: 100%;
	width: 100%;
	display: table;
}
#banner-slider.other-slider-second .slides {
	display: table-cell;
	vertical-align: middle;
}
#banner-slider.other-slider-second .banner-text{
	position: static;	
	height: 100%;
	display:inline-block;	
	width: 100%;
	text-align: center;
}

#banner-slider.slider-with-bg {
	height: 100%;
	width: 100%;
}

/*#banner-slider.slider-with-bg .slides {
	display: table-cell;
	vertical-align: middle;
}*/

#banner-slider.slider-with-bg .banner-text {
	position: static;	
	height: 100%;
	display:table;	
	width: 100%;
	text-align: center;
}

#banner-slider.slider-with-bg .slides li {
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.banner-text.text-left {
	text-align: center;
}
.slide-second-sec {
	padding: 0px 54px 16px;
	display: table;
}
.banner-text .slide-second-sec p {
	padding: 0;
	text-align: center;
}
.banner-text .slide-second-sec .btn {
	margin-top: 0%;
}
.banner-text.third-style {
}
.banner-text.third-style p {	
	text-align: center;
}
.desig {	
}
.banner-text blockquote {
	padding:0px 17% 20px 17%;
	color: #fff;
	border: 0px;
	text-align: center;
	position: relative;
	font-size: 14px;	
}
.banner-text blockquote:before {	
	font-size:20px;
	position: absolute;
	left: 10%;
	top:0px;
	content: "\f10d";
	font-family: 'FontAwesome';
}

.banner-text.slide-fifth {
}
.banner-text.slide-fifth .btn {
	float: none;
	margin-left:0%;
}
.link-social-padd {
	margin-top: 60px;
}
.link-social-padd span {
	font-size: 14px;
	display: block;
	padding: 0 0 50px;
	position: relative;
}
.link-social-padd span:after {
	position: absolute;
	left: 50%;
	border-left:4px dotted #fff;
	width: 4px;
	bottom: 5px;
	content:"";
	height: 22px;
}
.link-social-padd ul {	
}
/*videao header*/
.fullscreenvideo {
	display: table;
	width: 100%;
	height: 100%;
}

.fullscreenvideo .embed-responsive.embed-responsive-16by9 {
	display: table-cell;
}

/*about us*/
.vimeo-player.embed-responsive-16by9 {
	padding-bottom: 62.3%;
	box-shadow: -10px 10px 25px 0 rgba(0,0,0,0.3);
	margin-bottom: 72px;
}
.reach-the-goal header {
	/*padding-right: 80px;*/
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 18px;
	margin-bottom: 24px;
	position: relative;
}
.quote-mark {
	position: relative;
}
.quote-mark:after {
	position: absolute;
	content: "\f10e";
	font-family: 'FontAwesome';
	background: url(../img/patter-01.jpg) 0 0 repeat;
	display: inline-block;
	width: 70px;
	height: 134px;
	border: 2px solid #eeeeee;
	right: 0;
	top: 0;
	font-size: 26px;
	padding: 47px 22px;
}
.best-in-market {
	text-align: center;
	font-size: 24px;
	line-height: 1;
	font-weight: normal;
}

.big-ambition {
	background: url(../img/bg-ambition.jpg) center center no-repeat;
	margin-bottom: 59px;
}
.pointed-quote svg {
	fill: none;
}
/*info box*/
.info-box {
	border: 1px solid #f5f5f5;
	padding: 5px;
	text-align: center;
	background: url(../img/pattern-06.jpg) 0 0 repeat;
	position: relative;
}
.inner-info {
	border: 1px solid #f5f5f5;
	padding: 33px 25px 26px;
	background: #fff;
}
.info-box .title {
	font-size: 16px;
	color: #787878;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	display: block;
	border-bottom: 2px solid #eee;
	padding: 5px 0 11px;
}
.info-box strong {
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #333333;
	display: inline-block;
	padding: 10px 0;
}
.info-box strong a {
	color: #333333;
}
.info-box .rect-icon-box {
	margin: -21px 0 0 -21px;
	position: absolute;
	left: 50%;
	top: 0;
	font-family: 'Open Sans', sans-serif;
}

/*review*/
.l-down, .l-down-up {
	position: relative;
	border-left: 0 dashed transparent;
	border-top-width: 100px;
	border-top-style: solid;
	border-top-color: #101010;
}
.l-down-up {
	position: relative;
	border-top-color: #fff;
	margin-top: -101px;
}

.review {
	position: relative;
}

.review-info {
	margin-bottom: 76px;
	padding-bottom: 56px;
	position: relative;
}
.review .page-header {
	margin-top: 84px;
	margin-bottom: 55px;
}
.review .media {
	margin-bottom: 62px;
}
.review .media > .pull-left {
	margin-right: 30px;
}
.review .media-heading {
	margin-bottom: 20px;
	overflow: hidden;
}
.review .media .h5 {
	margin: 0 0 15px;
	line-height: 1;
	padding-bottom: 18px;
	position: relative;
}
.review .media cite {
	font-size: 16px;
	font-style: italic;
}
.review .media-body {
	overflow: visible;
}
.date {
	font-size: 14px;
	color: #787878;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	display: block;
	padding: 6px 0;
}
.date .fa {
	margin: 0 4px;
}
.triangle {
	margin: 32px 0 0 -1px;
	background: url(../img/bg-line.jpg) 0 0 no-repeat;
	background-size: auto 100%;
	min-height: 450px;
	position: relative;
}
.triangle-shape {
	background: url(../img/triangle.png) 0 0 no-repeat;
	max-width: 270px;
	width: 100%;
	min-height: 180px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 100px;
	/*-webkit-transition: all 3s ease-in-out;
	 -moz-transition: all 3s ease-in-out;
	 -ms-transition: all 3s ease-in-out;
	 -o-transition: all 3s ease-in-out;
	 transition: all 3s ease-in-out;*/
	font-size: 36px;
	text-align: center;
	padding-top: 50px;
}
.triangle-shape .fa {
	margin-left: 10px;
}
/*more about us*/
.more-about-us {
	margin-bottom: 42px;
	position: relative;
}
.more-about-us:after {
	position: absolute;
	right: -1px;
	top: -1px;
	content: "";
	border-right: 35px solid #fff;
	border-bottom: 35px solid #e8e8e8;
}

.about-creating {
	background-image: url(../images/world.png);
	background-repeat: repeat-y;
	background-size: auto 100%;
	background-position: 0 0;
	padding: 40px 10px 41px;
	margin: -1px 0 0 -1px;
}
.about-creating h3 {
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin: 0 0 24px;
}
.about-creating-list {
	border-bottom: 2px solid #fff;
	padding-top: 8px;
	position: relative;
}
.circle-dot {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	text-align: center;
	overflow: hidden;
}
.circle-dot span {
	display: inline-block;
	width: 26px;
	position: relative;
}
.circle-dot span:after, .circle-dot span:before {
	position: absolute;
	width: 200px;
	height: 2px;
	background: #fff;
	content: "";
	top: 6px;
}
.circle-dot span:after {
	right: 26px;
}
.circle-dot span:before {
	left: 26px;
}
.num-list {
	list-style: none;
	color: #fff;
	margin-bottom: 0;
	margin-top: 51px;
}
.num-list li {
	padding-left: 75px;
	position: relative;
	padding-bottom: 43px;
	margin-bottom: 10px;
	background: url(../img/about-creating-mid.png) center bottom no-repeat;
}
.num-list li:after, .num-list li:before {
	position: absolute;
	left: 0;
	top: 0;
	
	font-style: italic;
}
.num-list li:after {
	content: attr(data-content);
	font-size: 34px;
	top: -15px;
	width: 50px;
	text-align: right;
}
.num-list li:before {
	content: "//";
	left: 55px;
	top: 8px;
}
.num-list li:last-child {
	background: url(../img/about-creating-bottom.png) center bottom no-repeat;
	margin-bottom: 0;
}
.our-experience {
	padding: 24px 0 0 0;
}
.sub-heading {
	font-size: 16px;
}
.our-experience .h5 {
	color: #787878;
	margin: 4px 0 15px;
}
.our-experience p {
	text-indent: 38px;
	margin-bottom: 17px;
}
.our-experience ul {
	padding: 10px 0 0;
	margin-bottom: 42px;
}
.view-feature, .slash-line {
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
}
.slash-line {
	font-weight: 700;
	color: #d4d4d4;
}

/*acheiving-result*/
.acheiving-result {
	margin-top: -99px;
	padding-top: 99px;
	padding-bottom: 123px;
	border-bottom: 1px solid #e9e9e9;
	background: #fdfdfd;
}
.circle-text {
	font-weight: 700;
}
.circle-wrap {
}
.circle-wrap h5 {
	font-size: 16px;
	text-align: center;
}
.circle-progress {
	position: relative;
	width: 100% !important;
}
.circle-progress.circliful {
	margin: 40px auto 41px;
}
.circle-progress.circliful canvas {
	margin: 0 auto;
	display: block;
}

.circle-progress .circle-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
}

/*h-line*/
.h-line {
	text-align: center;
	position: relative;
	margin: 0;
	padding-top: 59px;
}
.h-line:after, .h-line:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	border-top: 1px solid #dedede;
	width: 0;
	height: 46px;
}
.h-line:after {
	left: auto;
	right: 0;
	border-left: 1px solid #dedede;
}
.h-line.animate:after, .h-line.animate:before {
	width: 50%;
	animation: move-line 4s linear 0s;
	-webkit-animation: move-line 4s linear 0s;
}
.h-line span {
	font-style: italic;
	font-size: 18px;
	display: inline-block;
	position: relative;
	padding-bottom: 32px;
}
.h-line span:after {
	position: absolute;
	left: 50%;
	bottom: 0;
	content: ".";
	font-size: 15px;
	color: #dedede;
}
.h-line.animate span:after {
	animation: move-dots 1s linear 4s forwards;
	-webkit-animation: move-dots 1s linear 4s forwards;
}

/*h-line top*/
.h-line.top {
	padding-bottom: 30px;
}
.h-line.top:after, .h-line.top:before {
	top: 100px;
	left: auto;
	right: auto;
	right: auto;
	border-bottom: 1px solid #dedede;
	border-top: none;
	border-left: none;
	width: 0;
}
.h-line.top:before {
	border-right: 1px solid #dedede;
	right: 50%;
	height: 0;
	left: auto;
}
.h-line.top:after {
	left: 50%;
	width: 0;
}
.h-line.top.animate span:after {
	bottom: auto;
	top: -40px;
	animation: move-dots 1s linear 0s forwards;
	-webkit-animation: move-dots 1s linear 0s forwards;
}
.h-line.top.animate:before, .h-line.top.animate:after {
	animation: move-line-top 4s linear 1s forwards;
	-webkit-animation: move-line-top 4s linear 1s forwards;
}

/*acheiving-result*/
.acheiving-result header {
	/*padding: 10px 0 35px;*/
	position: relative;
}
.acheiving-result header.double-border {
	margin-bottom: 34px;
	padding-bottom: 22px;
}
.acheiving-result p {
	margin-bottom: 22px;
}
.acheiving-result header.double-border .num {
	font-size: 220px;
	font-style: italic;
	color: #f3f3f3;
	line-height: 1;
}
.acheiving-result header.double-border .h4 {
	position: absolute;
	left: 0;
	top: 93px;
	width: 100%;
	font-weight: 700;
	font-size: 20px;
}
.acheiving-result header.double-border .rect-icon-box {
	vertical-align: middle;
	float: left;
	margin-top: -10px;
	margin-right: 20px;
	margin-bottom: 40px
}

.achieving-block:hover .rect-icon-box {
	background: #fff;
}
.achieving-block:hover .rect-icon-box:after, .achieving-block:hover .rect-icon-box:before {
	-moz-transform: rotate(-45deg) translateX(-100%);
	-webkit-transform: rotate(-45deg) translateX(-100%);
	-o-transform: rotate(-45deg) translateX(-100%);
	-ms-transform: rotate(-45deg) translateX(-100%);
	transform: rotate(-45deg) translateX(-100%);
}
.achieving-block:hover .rect-icon-box.move-right:after, .achieving-block:hover .rect-icon-box.move-right:before {
	-moz-transform: rotate(-45deg) translateX(0);
	-webkit-transform: rotate(-45deg) translateX(0);
	-o-transform: rotate(-45deg) translateX(0);
	-ms-transform: rotate(-45deg) translateX(0);
	transform: rotate(-45deg) translateX(0);
}

/*team section*/
.team-wrap {
	position: relative;
	padding: 45px 0 0;
	text-align: center;
	border-bottom: 3px solid #000;
	margin: 0 auto;
	max-width: 270px;
	overflow: hidden;
}

.team-wrap .h5 {
	margin: 0 0 12px;
}
.team-wrap cite {
	display: block;
	font-style: italic;
	font-size: 16px;
	position: relative;
	padding: 23px 0 17px;
}
.team-wrap figcaption {
	position: relative;
	background: #fff;
	padding: 10px 0 0;
	z-index: 100;
}
.team-wrap figcaption:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 100%;
	border: none;
	border-right: 274px dashed transparent;
	border-bottom: 46px solid #fff;
}
.team-wrap cite:before, .team-wrap cite:after {
	height: 1px;
	background: #eee;
	top: 0;
	left: 0;
	width: 100%;
	content: "";
	position: absolute;
}
.team-wrap cite:before {
	top: 4px;
}
.team {
	position: relative;
}
.overlay {
	background: rgba(51,51,51,0.9);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
}
.team .overlay {
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.team:hover {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
}
.team:hover .overlay {
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.team:hover figcaption:after {
	border-bottom: 0 solid transparent;
}
.team .social-icons {
	margin-top: 116px;
}
.send {
	display: inline-block;
	margin-top: 14px;
}
.send:hover, .send:focus {
	text-decoration: none;
	color: #fff;
}

.send:hover span {
	margin-right: 5px;
}
.send:hover .fa {
	margin-left: 5px;
}
/*pricing*/
.pricing-section {

}
.pricing-section .page-header {
	margin-bottom: 62px;
}
.pricing-section header .rect-icon-box, .contact-us header .rect-icon-box {
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: -21px;
	margin-left: -21px;
}
.pricing {
	max-width: 370px;
	margin: 0 auto 30px;
	overflow: hidden;
}
.price-block {
	width: 260px;
	height: 260px;
	background: #333333;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	margin: 0 5% 0 auto;
	-moz-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-o-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
}
.pricing.animate .price-block {
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}
.price-block .price {
	display: block;
	font-size: 38px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding: 47px 0 0;
}
.price-block .price em {
	font-family: 'Libre Baskerville';
	font-size: 14px;
}
.zig-zag-line {
	width: 42px;
	height: 10px;
	margin: 5px auto;
}
.bottom-pricing-block {
	margin-top: -110px;
	background: #fff;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 58px;
	position: relative;
	z-index: 100;
}
.shape {
	position: absolute;
	top: -57px;
	left: -1px;
	width: 100%;
	z-index: -1;
	border-left: 1px solid #eee;
}
.shape svg {
	width: 370px;
	height: 57px;
	stroke: #eee;
	fill: #fff;
	stroke-width: 1;
}
.bottom-pricing-block:after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 82px;
	border: 1px solid #eee;
	margin-left: -41px;
}
.pricing.animate .bottom-pricing-block:after {
	bottom: -32px;
}
.pricing-title {
	padding: 17px 30px 0;
}
.pricing-title h3 {
	margin: 0 0 23px;
	padding-bottom: 15px;
	border-bottom: 2px solid #eeeeee;
}
.pricing-list {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: none;
	border-radius: 0;
	text-align: center;
	margin-bottom: 0;
	padding-top: 22px;
}
.pricing-list .list-group-item {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-color: #eee;
	padding-top: 17px;
	padding-bottom: 17px;
}
.pricing-list .list-group-item:last-child {
	border-bottom: 0;
}
.pricing-list .list-group-item:nth-child(2n-1) {
	background: url(../img/patter-01.jpg) 0 0 repeat;
}
.control-block {
	text-align: center;
	padding: 56px 0 86px;
}
.control-block .zig-zag-divider.inline {
	vertical-align: super;
}
#clients {
	margin-bottom: 47px;
}
#partners-carousel .owl-controls {
	position: absolute;
	bottom: -126px;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 100;
}
#partners-carousel .owl-page {
	display: inline-block;
	color: #dcdcdc;
	margin: 0 2px;
}
.our-partners {
	background: #fdfdfd;
	margin-top: -28px;
	border-bottom: 1px solid #e9e9e9;
}
.our-partners h2 {
	margin: 5px 0 98px;
	padding-bottom: 36px;
	position: relative;
	display: inline-block;
}
.our-partners h2:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 38%;
	border-top: 3px solid #eee;
}
.partners-logo {
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}
.partners-logo:after, .partners-logo:before {
	content: "";
	position: absolute;
	top: 0;
	width: 8px;
	height: 100%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.partners-logo:after {
	left: 0;
	border-left: 1px solid #eee;
}
.partners-logo:before {
	right: 0;
	border-right: 1px solid #eee;
}

.partners-logo a {
	display: block;
	position: relative;
}
.partners-logo a:after, .partners-logo a:before {
	content: "";
	position: absolute;
	z-index: 10;
	opacity: 0;
}
.partners-logo a:after {
	left: 0;
	top: 0;
}
.partners-logo a:before {
	right: 0;
	bottom: 0;
}
.partners-logo a:after {
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
}
.partners-logo a:before {
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.partners-logo .right-to-left:after, .partners-logo .right-to-left:before {
	opacity: 1;
	width: 0;
	height: 0;
	animation: right-to-left 0.6s ease-in-out forwards;
	-webkit-animation: right-to-left 0.6s ease-in-out forwards;
}

.partners-logo .foldit:after, .partners-logo .foldit:before {
	opacity: 1;
	width: 100%;
	height: 100%;
	animation: foldit 0.6s ease-in-out forwards;
	-webkit-animation: foldit 0.6s ease-in-out forwards;
}
.partners-logo a:hover {
	background: #f9f9f9;
}
.partners-logo img {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
	filter: gray; /* IE6-9 */
	-webkit-backface-visibility: hidden; /* Fix for transition flickering */
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.partners-logo a:hover img {
	filter: grayscale(0) !important;
	-webkit-filter: grayscale(0) !important;
	-moz-filter: grayscale(0) !important;
	-o-filter: grayscale(0) !important;
	-ms-filter: grayscale(0) !important;
	filter: none !important;
	-webkit-filter: grayscale(0%) !important;
}
.slide-carousel {
	text-align: center;
	padding: 23px 0;
}
.slide-carousel span {
	font-size: 18px;
	font-style: italic;
	display: inline-block;
	position: relative;
}
.slide-carousel span:after {
	position: absolute;
	left: 50%;
	top: -38px;
	content: ".";
	font-size: 15px;
	color: #dedede;
	text-shadow: 0 9px #dedede, 0 -9px #dedede;
}
.slide-carousel .carousel-indicators {
	position: static;
	margin: 0;
	width: 100%;
	padding: 55px 0 20px;
}
.slide-carousel .carousel-indicators li {
	text-indent: 0;
	border: none;
	font-size: 15px;
	color: #dcdcdc;
	margin: 0 4px;
	width: 12px;
}
.bounding-arrows {
	position: relative;
	min-height: 95px;
}
.up-bounding, .down-bounding {
	fill: none;
	position: absolute;
	width: 11px;
	top: 13px;
	left: 50%;
	margin-left: -5px;
}
.up-bounding {
	height: 36px;
}
.down-bounding {
	height: 6px;
	top: 88px;
}

/*blog section*/
.blog-section {
	padding-bottom: 46px;
}
.blog-section .page-header {
	margin-top: 80px;
	margin-bottom: 0;
}
.blog-list > .col-xs-12 {
	border-bottom: 1px dashed #dedede;
}

.blog {
	margin: 37px 0 37px 0;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
	padding-right: 0;
}
.blog .thumbnail {
	border: none;
	padding: 0;
	border-bottom: 2px solid #fff;
	margin-right: 0;
	margin-bottom: 0;
	position: relative;
	width: 100%;
	float: none;
}
.blog .thumbnail img {
	width: 100%;
}
.blog .media-body {
	padding: 20px 10px;
}
.blog .media-heading {
	font-size: 18px;
	text-transform: none;
	padding: 23px 0 7px;
	line-height: 1.3;
}
.blog .media-heading a {
	color: #333;
}
.blog .date {
	position: relative;
	padding-top: 18px;
}
.blog .overlay {
	background: none;
	opacity: 1;
	visibility: visible;
}
.blog .overlay .rect-icon-box {
	position: absolute;
	bottom: -22px;
	left: 50%;
	margin: -26px 0 0 -22px;
}
.blog:hover .overlay {
	background: rgba(51,51,51,0.9);
}
.blog:hover .rect-icon-box {
	bottom: 50%;
}
/*
 .blog:hover .rect-icon-box:after, .blog:hover .rect-icon-box:before {
 -moz-transform: rotate(-45deg) translateX(-100%);
 -webkit-transform: rotate(-45deg) translateX(-100%);
 -o-transform: rotate(-45deg) translateX(-100%);
 -ms-transform: rotate(-45deg) translateX(-100%);
 transform: rotate(-45deg) translateX(-100%);
 }
 .blog:hover .rect-icon-box.move-right:after, .blog:hover  .rect-icon-box.move-right:before {
 -moz-transform: rotate(-45deg) translateX(0);
 -webkit-transform: rotate(-45deg) translateX(0);
 -o-transform: rotate(-45deg) translateX(0);
 -ms-transform: rotate(-45deg) translateX(0);
 transform: rotate(-45deg) translateX(0);
 }*/

.blog:hover .rect-icon-box {
	animation: icon-rotate 0.5s ease-in-out forwards;
	-webkit-animation: icon-rotate 0.5s ease-in-out forwards;
}

.blog-section footer {
	background: #fff;
	position: relative;
	margin-top: -1px;
	padding: 28px 0;
}
.view-all {
	font-style: italic;
	font-size: 18px;
	text-decoration: underline;
	color: #333;
	display: inline-block
}

.contact-us {
	background: url(../img/pattern-02.jpg) 0 0 repeat-x/*#fff*/;
	position: relative;
	z-index: 100;
}
.contact-us header .rect-icon-box.xs {
	margin-top: -16px;
}
.contact-us .page-header {
	margin-bottom: 60px;
}
.contact-form .label-ico {
	position: absolute;
	left: 0;
	top: 0;
	width: 56px;
	height: 38px;
	border-right: 2px solid #333;
	text-align: center;
	padding: 8px 0;
	font-size: 16px;
	color: #333;
	margin-top: 10px;
}
.contact-form .label-ico.focus {
	margin-top: 0;
	padding: 18px 0;
	height: 58px;
}
.contact-form .label-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 18px;
	padding-left: 78px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #b8b8b8;
	font-weight: 400;
	cursor: text;
	z-index: 1000;
	-webkit-perspective: 1000px;
}
#success {
	text-align: center;
	padding: 10px;
	display: none;
}
.label-text .ch {
	position: relative;
	background: #fff;
}
.text-area .label-text {
	padding-left: 22px;
}
.contact-form .form-group.error .label-text, .contact-form .msg-box.error .label-text {
	color: #ff0000;
}
.contact-form {
	background: url(../img/form-divider.jpg) 0 bottom repeat-x;
	padding-bottom: 60px;
	margin-bottom: 60px;
	position: relative;
}
.contact-form .form-group {
	position: relative;
	margin-bottom: 20px;
}
.contact-form .form-control {
	font-size: 16px;
	color: #333333;
	resize: none;
}
.contact-form .form-group.error .form-control, .contact-form .form-group.error label, .contact-form .error .form-control {
	border-color: #ff0000;
}
.contact-form .error {
	position: relative;
	z-index: 100;
}

.contact-form .form-control:focus {
	position: relative;
	z-index: 10;
}
.contact-form input.form-control {
	padding-left: 78px;
}
.contact-form textarea.form-control {
	min-height: 158px;
	padding: 16px 22px;
}
.contact-form .form-submit {
	padding: 0;
	height: auto;
	border-top: 0;
	font-size: 14px;
	color: #797979;
}
.contact-form .btn.btn-bordered {
	border-right: 0;
	border-left: 0;
	margin-top: -2px;
	padding: 16px 52px;
	background: none;
	width: 100%;
}
.contact-form .form-submit span {
	display: block;
	padding: 13px 10px;
}
.contact-form .btn.btn-bordered span {
	padding: 0;
	line-height: 60px;
}
.icon-scissors {
	position: absolute;
	left: 23px;
	bottom: -10px;
	font-size: 18px;
	color: #dedede;
}
.contact-info {
	position: relative;
	padding-bottom: 46px;
	margin-bottom: 50px;
	background: url(../img/form-divider.jpg) 0 bottom repeat-x;
}
.contact-info:after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 100%;
	height: 0px;
	width: 1px;
	background: #eee;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
	-ms-transition: all 2s linear;
	-o-transition: all 2s linear;
	transition: all 2s linear;
}
.contact-info.animate:after {
	height: 33px;
}
.contact-info .media {
	position: relative;
}
.contact-info .info-icon {
	/*border-bottom: 4px double #eee;*/
	margin-bottom: 20px;
	width: 100px;
	padding-bottom: 4px;
}
.contact-info .info-icon:after {
	height: 5px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	background: #fff;
	content: "";
	position: absolute;
	top: 133px;
	left: 0;
	width: 100px;
}
.contact-info .media-heading {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 37px;
}
.contact-info .media-body {
	padding: 12px 0 0 18px;
}
.contact-info .media:hover .rect-icon-box:after, .contact-info .media:hover .rect-icon-box:before {
	-moz-transform: rotate(-45deg) translateX(-100%);
	-webkit-transform: rotate(-45deg) translateX(-100%);
	-o-transform: rotate(-45deg) translateX(-100%);
	-ms-transform: rotate(-45deg) translateX(-100%);
	transform: rotate(-45deg) translateX(-100%);
}
.contact-info .media:hover .rect-icon-box:before, .contact-info .media:hover .rect-icon-box:after {
	color: #fff;
}

.info-boxes {
	margin-bottom: 18px;
	padding-bottom: 1px;
	background: url(../img/pattern-03.jpg) 0 bottom repeat-x;
}
.info-boxes .tel {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #787878;
	display: inline-block;
	margin-bottom: 7px;
}
.info-boxes cite {
	display: block;
	font-style: italic;
	font-size: 15px;
	margin-bottom: 14px;
}
.info-boxes p {
	margin-bottom: 22px;
}
.lag-lat {
	margin-bottom: 15px;
}
.lag-lat .fa {
	margin-right: 12px;
}

.find-us {
	font-size: 18px;
	font-style: italic;
	text-align: center;
	position: relative;
}
.find-us span {
	display: block;
	margin-bottom: 15px;
}
.find-us:after, .find-us:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 1px;
	height: 12px;
	background: #eee;
	top: -58px;
	left: 33.33%;
}
.find-us:after {
	left: 66.66%;
}

.map {
	border-bottom: 1px solid #fff;
	margin-top: -100px;
	position: relative;
	z-index: 10;
	width: 100%;
	height: 788px;
}
.map img {
	display: inline-block;
}
#map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/*
 2.) Blogpage
 ----------------------------------------*/
.main-blog-section {
	background: none;
	text-align: center;
	padding: 139px 15px 119px;
	background: url(../img/banner-slide-01.jpg) center top no-repeat;
	background-size: cover;
	margin-bottom: 0;
}
.main-blog-section h1 {
	padding: 0 15px;
	margin-bottom: 42px;
}
.main-blog-section .side-border:after, .main-blog-section .side-border:before {
	background: #fff;
	width: 46px;
}
.main-blog-section .title-line {
	margin: 0 auto;
	max-width: 304px;
	width: 100%;
	margin-bottom: 54px;
}
.transparent.title-line {
	overflow: hidden;
}
.transparent.title-line > * {
	background: none;
}
.transparent.title-line:before {
	margin-right: 33px;
}
.transparent.title-line:after {
	margin-left: 33px;
}

.blog-wrapper {
	padding: 60px 0 0;
}
.blog-main {
	padding-bottom: 1px;
	margin-bottom: 10px;
}
.pagination-wrap {
	padding: 5px;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 41px;
}
.pagination-wrap .inner-info {
	padding: 20px 10px;
}
.pagination-wrap .pager {
	margin: 0;
}
.pagination-wrap [class^="page-"] {
	position: relative;
}
.pagination-wrap [class^="page-"]:hover {
	text-decoration: none;
}
.pagination-wrap [class^="page-"] {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	border-radius: 0;
	color: #797979;
	font-size: 16px;
	padding: 4px 0;
	text-decoration: none;
	position: relative;
}
.pagination-wrap [class^="page-"]:hover, .pagination-wrap [class^="page-"]:focus {
	background: none;
}
.page-prev span {
	padding-left: 25px;
}
.pagination-wrap .page-prev {
	padding-right: 10px;
	border-right: 1px solid #e2e2e2;
}
.page-next span {
	padding-right: 25px;
}
.pagination-wrap .page-next {
	padding-left: 10px;
	border-left: 1px solid #e2e2e2;
}
[class^="page-"] span {
	position: relative;
}
[class^="page-"] span:after {
	position: absolute;
	top: -1px;
	font-family: 'FontAwesome';
}
.page-next span:after {
	content: "\f178";
	right: 0;
}
.page-prev span:after {
	content: "\f177";
	left: 0;
}
.page-prev:hover span {
	padding-left: 30px;
}
.page-prev:hover span:after {
	left: -5px;
}
.page-next:hover span {
	padding-right: 30px;
}
.page-next:hover span:after {
	right: -5px;
}

.pagination-wrap .info-body {
	margin-top: 10px;
}
.blog-main .blog {
	margin-top: 0;
	margin-bottom: 0;
}
.jump {
	font-weight: 700;
	color: #787878;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding-right: 22px;
}
.jump:after {
	position: absolute;
	content: "\f178";
	font-family: 'FontAwesome';
	right: 3px;
	top: 1px;
	font-size: 14px;
}
.jump:hover {
	text-decoration: none;
	padding-right: 27px;
}
.jump:hover:after {
	right: -2px;
}
.blog-main .blog .media-body {
	padding-right: 30px;
}
.blog-main .outer-blog {
	padding-bottom: 38px;
	margin-bottom: 35px;
	background: url(../img/pattern-05.jpg) 0 bottom repeat-x;
	position: relative;
}
.pagination {
	margin: 0;
}
.pagination > li > a, .pagination > li > span {
	background: none;
	border: none;
	border-radius: 0;
	color: #797979;
	padding: 2px 12px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background: none;
}

.sidebar-module {
	margin-bottom: 13px;
}
.sidebar-module .h6 {
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 21px;
	margin-top: 0;
	padding-top: 10px;
}
.sidebar-module .accordion-sec {
	margin-bottom: 0;
}

.sidebar-module .border-bottom {
	border-bottom: 2px solid #eee;
	padding-bottom: 23px;
	margin-bottom: 26px;
}
.blog-calender {
	margin-bottom: 23px;
	overflow: hidden;
}
.responsive-calendar .header-divider {
	margin: 0 auto;
	display: block;
	width: 40px;
	height: 12px;
}
.sidebar-module.side-blog-comment {
	margin-bottom: 17px
}
.facebook-like iframe {
	width: 100%;
	height: 350px;
}
/*
 3.) Blog Detail Page
 ----------------------------------------*/
.blog-main.blog-detail {
	margin-bottom: 24px;
}
.blog-detail .blog .thumbnail {
	float: none;
	width: 100%;
	margin-right: 0;
	border-right: 0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.blog-detail .blog .overlay .rect-icon-box {
	top: 100%;
	right: auto;
	left: 50%;
	bottom: auto;
	margin: -21px 0 0 -21px;
}
.blog-detail .blog:hover .overlay .rect-icon-box {
	top: 50%;
}
.blog-detail.blog-main .blog .media-body {
	padding: 20px 10px 0;
}
.blog-detail .blog .media-heading {
	font-size: 21px;
	margin-bottom: 14px;
}
.blog-detail .blog p {
	margin-bottom: 20px;
}
blockquote.quote-mark {
	padding: 12px 0px 25px 80px;
	border-left: 0;
	font-size: 14px;
	color: #797979;
	background: url(../img/pattern-07.jpg) 0 bottom repeat-x;
	margin-bottom: 31px;
}
blockquote.quote-mark:after {
	left: 0;
	top: 12px;
	right: auto;
	height: 110px;
	padding: 37px 22px;
}
.blog-detail .h6 {
	font-size: 18px;
	margin-bottom: 24px;
	font-weight: 700;
}
.blog-detail .dotted-list {
	padding-left: 10px;
	margin-bottom: 30px;
}
.blog-detail .blog footer {
	padding: 18px 0 12px;
	margin: 46px 0 0;
	overflow: hidden;
}
.blog-detail .blog footer .date {
	padding: 0;
}
.outer-blog .pagination-wrap {
	margin-right: 0;
	margin-bottom: 0;
}
.outer-blog .pagination-wrap [class^="page-"] {
	width: 100%;
	border: 0;
	text-align: left;
}
.outer-blog  .pagination-wrap .inner-info {
	padding: 12px;
}
.pagination-wrap [class^="page-"] .blog-heading {
	font-style: normal;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	display: block;
}
.outer-blog .pagination-wrap .page-prev {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.outer-blog .pagination-wrap .h6 {
	font-size: 18px;
	font-style: normal;
	color: #333;
	text-transform: none;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

.blog-detail .blog:hover .rect-icon-box {
	width: 70px;
	height: 70px;
}
.blog-detail .blog:hover .rect-icon-box:after, .blog-detail .blog:hover .rect-icon-box:before {
	font-size: 21px;
	width: 100%;
	height: 100%;
	line-height: 70px;
}
.blog-detail .blog:hover .rect-icon-box:after {
	margin: -46px 0 0 -20px;
}
/*comment block*/
.comment-block {
	margin-bottom: 50px;
}
.heading-border {
	font-weight: 400;
	padding-bottom: 25px;
	position: relative;
}
.heading-border:after {
	position: absolute;
	display: inline-block;
	margin-left: -84px;
	width: 168px;
	left: 50%;
	height: 2px;
	background: #eee;
	bottom: 0;
	content: "";
}
.comment-block .num-list li {
	padding-left: 70px;
	background: url(../img/pattern-07.jpg) 0 bottom repeat-x;
	padding-bottom: 26px;
	margin-bottom: 25px;
}
.comment-block .num-list li:before {
	left: 45px;
}
.comment-block .num-list li:after {
	width: 42px;
}
.comment-block .date {
	padding: 0;
}
.comment-block li {
	color: #797979;
}

/*leave Reply*/

.leave-reply header {
	margin-bottom: 58px;
}
.leave-reply .form-group {
	margin-bottom: 25px;
}
.leave-reply .contact-form {
	background: none;
	padding-bottom: 9px;
	margin-bottom: 34px;
}

/*
 4.) Error Page
 ===============================*/
html, .error-page, .error-page #wrapper {
	height: 100%;
}
.error-page .main-blog-section {
	display: table;
	width: 100%;
	padding: 0;
	height: 100%;
}
.table-cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
.error-page h1 {
	font-size: 84px;
}
.error-page h1 .rect-icon-box {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.error-page h1 .rect-icon-box > * {
	font-size: 36px;
	line-height: 50px;
	width: 50px;
	height: 50px;
	display: block;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.error-page h1 .rect-icon-box:hover *, .error-page h1 .rect-icon-box:hover {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.error-page .social-icons {
	margin-bottom: 40px;
}
.error-page .btn-bordered {
	padding: 14px 35px;
}
.error-page .btn-bordered .fa {
	margin: 0 10px 0 -10px;
}

/*
 5.) intro Page
 ----------------------------------------*/
.intro-section {
	text-align: center;
	padding: 60px 0 82px;
	background: url(../img/banner-slide-01.jpg) center top no-repeat;
	background-size: cover;
}
.intro-section h1 {
	margin-bottom: 65px;
	color: #fff;
	padding: 0;
}
.intro-section .side-border:after, .intro-section .side-border:before {
	background: #fff;
	width: 46px;
	visibility: hidden;
}
.intro-section p {
	line-height: 1.6;
	margin-bottom: 52px;
}

.intro-content {
	padding: 50px 0 0;
	border-top: 3px solid #000;
}
.intro-content:after {
	left: 50%;
	top: -10px;
	border-bottom: 10px solid #000000;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	margin-left: -10px;
}
.intro-content:before {
	left: 50%;
	top: 26px;
	content: ".";
	font-size: 20px;
	color: #dedede;
	text-shadow: 0 9px #dedede, 0 -9px #dedede;
	margin-left: -2px;
}

.showcase-main {
	margin-top: 55px;
	margin-bottom:55px;
}

.showcase-sec {
	margin: 0 0 60px;
	text-align: center;
	display: block;
	text-decoration: none;
}
.showcase-sec:hover {
	text-decoration: none;
}
.showcase-sec h4 {
	font-size: 18px;
	padding:40px 0 20px;
	position: relative;
	margin-bottom: 6px;
}
.showcase-sec h4 span {	
}

.showcase-sec h4:after {
	position: absolute;
	width: 70%;
	left: 15%;
	bottom: 0px;
	height: 1px;
	background: #eeeeee;
	content: "";
}

.showcase-sec .link-txt {
	display: block;
	position: relative;
	padding: 20px 0 0;
}

.showcase-sec link-txt:after {
	position: absolute;
	width: 70%;
	left: 15%;
	top: 0px;
	height: 1px;
	background: #eeeeee;
	content: "";
}
.desktop-frame {
	background: url(../img/desktop-screen.png) 0 0 no-repeat;
	background-size: 100% auto;
	position: relative;
	padding: 4.4% 12.4% 8.2%;
	margin: 0px 19px 0px;
}
.desktop-frame img {
	width: 100%;
}
.desktop-frame .glare {
	position: absolute;
	right: 0;
	top: 0;
	width: 41%;
	height: 90%;
	z-index: 10;
}

.showcase-main .info-box {
	margin-top: 50px;
}
/*
6.) Countdown Page
 ----------------------------------------*/
.countdown-main {
	text-align: center;
	padding: 60px 0 82px;
	background: url(../img/banner-slide-01.jpg) center top no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.countdown-box {
	margin-bottom: 44px;	
}
.inner-countdown {
	padding: 0px 2%;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.countdown {
	padding: 0px 0% 0;
}
.countdown .number {
	font-size: 214.17%;
	display: block;
	line-height: 1.2;
}
.countdown .time {
	font-size: 71.68%;
}
.posn-btm {
	position: absolute;
	bottom: 14px;hj
	left: 50%;
	margin-left: -25px;
	z-index: 100;
	border: 2px solid #fff;	
}

.get-started {
	position: relative;
	font-size: 18px;
	padding: 0 0 30px;
}
.get-started i {
	color: #fff;
	display: block;
	padding-bottom: 5px;
}
.get-started a {
	color: #fff;
	font-style: italic;
	text-decoration: none;
}
/* coming soon*/
.coming-soon {
	margin-bottom:60px;
}
.coming-soon h2 {
	color: #fff;
	font-size: 32px;
	margin-bottom:60px;	
}

@media (min-width: 768px) {
	.intro-section {
		padding: 94px 0 89px;
	}
	.intro-section h1.side-border {
		padding: 0;
	}
	.intro-content .title-line {
		margin: 0 18%;
	}
}
@media (min-width: 992px) {
	.intro-section h1.side-border {
		padding: 0 15px;
	}
	.intro-section .side-border:after, .intro-section .side-border:before {
		visibility: visible;
	}

}
@media (min-width: 1200px) {
	.intro-section h1.side-border {
		padding: 0 56px;
	}
	.intro-content .title-line {
		margin: 0 34%;
	}
}
.list-inline-separated {
  @extend .list-inline;

  li {
    // adjust leading spacing for each additional item
    margin-left: -10px;

    &:first-child {

      // no leading spacing for initial item
      margin-left: 0px;
    }

    &:after {
      content: '\2022'; // bullet
      margin: 0 5px;
    }

    // no bullet on last
    &:last-child:after {
      content: '';
    }
  }
}

/*===================================================================================*/
/*	OVERLAY
/*===================================================================================*/

.icon-overlay {
    display: block;
    position: relative;
}
.icon-overlay img {
    max-width: 100%;
}
.icon-overlay a .icn-more {
    opacity: 0;
    height: 100%;
    position: absolute;
	left: 0;
	top: 0;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background-color: rgba(26,187,156, 0.9);
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    overflow: hidden;
}
.icon-overlay a:hover .icn-more {
    opacity: 1;
}
.icon-overlay a .icn-more:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    text-align: center;
    content: '\2b';
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 1;
    color: #FFF;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -30px 0 0 -30px;
    -moz-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.icon-overlay a:hover .icn-more:before {
    font-size: 30px;
	padding-top: 15px;
}
.icon-overlay.icn-link a .icn-more:before {
    content: '\2b';
}

p {	
	font-size: 18px;
	margin-bottom: 30px
}

li {	
	font-size: 18px;
}

.arrow-list li {
	font-size: 15px;
}

header {
	text-align: center;
	border-bottom: 1px solid #eeeeee;	
}

.container-picbg {
		background: url("/assets/images/offshore.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
}

.container-picbg h4 {
	color: white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 475px
}

.inner {
	padding-top: 120px;
	padding-bottom: 120px;
}

.inner ul {
	list-style: none;
}
.inner-md {
	padding-top: 100px;
	padding-bottom: 100px;
}
.inner-sm {
	padding-top: 80px;
	padding-bottom: 80px;
}
.inner-xs {
	padding-top: 40px;
	padding-bottom: 40px;
}
.inner-top {
	padding-top: 120px;
}
.inner-top-md {
	padding-top: 100px;
}
.inner-top-sm {
	padding-top: 80px;
}
.inner-top-xs {
	padding-top: 40px;
}
.inner-bottom {
	padding-bottom: 120px;
}
.inner-bottom-md {
	padding-bottom: 100px;
}
.inner-bottom-sm {
	padding-bottom: 80px;
}
.inner-bottom-xs {
	padding-bottom: 40px;
}
.inner-left {
	padding-left: 75px;
}
.inner-left-md {
	padding-left: 60px;
}
.inner-left-sm {
	padding-left: 45px;
}
.inner-left-xs {
	padding-left: 30px;
}
.inner-right {
	padding-right: 75px;
}
.inner-right-md {
	padding-right: 60px;
}
.inner-right-sm {
	padding-right: 45px;
}
.inner-right-xs {
	padding-right: 30px;
}




